<form action="/trails/{{trailId}}/comments/{{comment._id}}?_method=PUT" method="post">

<label for="comment">New Comment:</label>
<input type="text" name="comment" id="comment" value="{{comment.comment}}">

<input type="submit" value="Edit Comment">

</form>