
<form action="/trails/{{trailId}}/comments" method="POST">
<label for="comment">New Comment:</label>
<input type="text" name="comment" id="comment">

<input type="submit" value="Add Comment">


</form>