body {
    background-color: cornsilk;
}

nav {
    background-color: tan;
    border-color: brown;
    color: white;
}
.flex-sm-fill.text-sm-center.nav-link {
    /* background-color: saddlebrown;
    border-color: brown; */
    color: white;
}
.flex-sm-fill.text-sm-center.nav-link.active {
    background-color: saddlebrown;
    border-color: brown;
    color: white;
}


.trail-cards {
    margin: -20px;
    padding: 20px;  
    border: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-color: saddlebrown;
}

.trail-cards>* {
    margin: 20px;
}

.btn {
    background-color: tan;
    border-color: brown;
    color: black;
}

.btn:hover {
    background-color: saddlebrown;
    border-color: saddlebrown;
}
.trail-buttons {
    display: inline-flex;
    margin: 0 -25px;
}
.trail-buttons>* {
    margin: 0 25px;
}
.btn.btn-primary.delete {
    background-color: maroon;
}
.img-trlpage {
    width: 500px;
}

h1{ font-family: 'Bowlby One SC', cursive;
    margin: 50px;
}

.form-div {
    padding: 15px 0 30px 25px;
}

input[type=text] {
    width: 75%;
    padding: 5px 0 0 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

hr {
    width: 80%;
    border-top: 1px maroon;
}