<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" href="/trails">All Trails</a>
  <a class="flex-sm-fill text-sm-center nav-link active" href="/trails/new">Add A Trail</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/users">Users</a>
  {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
</nav>

<form action="/trails" method="post">
<div class="form-div">
  <div class="form-group">
    <label for="trailName">Trail Name:</label> </br>
    <input type="text" name="trailName" id="trailName">
  </div>

  <div class="form-group">
  <label for="distance">Distance:</label> </br>
  <input type="text" name="distance" id="distance">

<div class="form-group">
  <label for="difficulty">Difficulty:</label> </br>
  <input type="text" name="difficulty" id="difficulty">
</div>
<div class="form-group">
  <label for="rating">Rating:</label> </br>
  <input type="text" name="rating" id="rating">
</div>
<div class="form-group">
  <label for="description">Description:</label> </br>
  <input type="text" name="description" id="description">
</div>
<div class="form-group">
  <label for="imgLink">Link to Image:</label> </br>
  <input type="text" name="imgLink" id="imgLink">
</div>

  <button type="submit" class="btn btn-primary">Add Trail</button>
</div>
</form>

{{!-- <form action="/trails" method="post">
  <div class="form-group">
    <label for="trailName">Trail Name:</label>
    <input type="text" class="form-control" id="trailName" placeholder="Enter trail name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}