<form action="/trails" method="post">

<label for="trailName">Trail Name:</label>
<input type="text" name="trailName" id="trailName">

<label for="distance">Distance:</label>
<input type="text" name="distance" id="distance">

<label for="difficulty">Difficulty:</label>
<input type="text" name="difficulty" id="difficulty">

<label for="rating">Rating:</label>
<input type="text" name="rating" id="rating">

<label for="description">Description:</label>
<input type="text" name="description" id="description">

<label for="imgLink">Link to Image:</label>
<input type="text" name="imgLink" id="imgLink">


<input type="submit" value="Add Trail">







</form>