<div class="form-div">
    <div class="form-group">
        <form action="/users/{{user._id}}?_method=PUT" method="post">

            <label for="userName">User Name:</label> </br>
            <input type="text" name="userName" id="userName" value="{{user.userName}}">
 </br>
            <label for="firstName">First Name:</label> </br>
            <input type="text" name="firstName" id="firstName" value="{{user.firstName}}">
 </br>
            <label for="lastName">Last Name:</label> </br>  
            <input type="text" name="lastName" id="lastName" value="{{user.lastName}}">
 </br>
            <div class="trail-buttons">

                <button class="btn btn-primary" type="submit">Save User</button>

            </div>
        </form>
    </div>
</div>