{{!-- <form action="/users" method="POST">
<label for="userName">User Name:</label>
<input type="text" name="userName" id="userName">

<label for="firstName">First Name:</label>
<input type="firstName" name="firstName" id="firstName">

<label for="lastName">Last Name:</label>
<input type="lastName" name="lastName" id="lastrName">

<input type="submit" value="Add User">


</form> --}}

{{!-- Experimenting below with tying the user to the trail --}}
<div class="form-div">
    <div class="form-group">
        <form action="/users" method="POST">
            <label for="userName">User Name:</label>
            </br>
            <input type="text" name="userName" id="userName">
            </br>
            <label for="firstName">First Name:</label>
            </br>
            <input type="text" name="firstName" id="firstName">
            </br>
            <label for="lastName">Last Name:</label>
            </br>
            <input type="text" name="lastName" id="lastrName">
            </br>

            <input type="submit" value="Add User">


        </form>
    </div>
</div>